<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<form action="#" th:action="@{/product-create}" th:object="${product}" method="post">
    <label for="name">Name </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">

    <label for="price">Price </label>
    <input type="number" th:field="*{price}" id="price" placeholder="Price">

    <label for="product.category.id">Category_id </label>
    <input type="number" th:field="*{category}" id="product.category.id" placeholder="Category">

    <input type="submit" value="Create Product">
</form>
</body>
</html>