<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Option value</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<form action="#" th:action="@{/option-products}" th:objects="${option}" method="get">
    <label for="name">Name</label>
    <input readonly type="text" th:field="${option.name}" id="name" placeholder="Name">
    <br/>
</form>


<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div th:switch="${values}">
                <h2 th:case="null">No values found!</h2>
                <div th:case="*">
                    <h2>Product</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="value : ${values}">
                            <td><a class="btn btn-link" th:href="@{product-value/{id}(id=${value.product.id})}" th:text="${value.product.name}"></a></td>
                            <td th:text="${value.product.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
