<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update category</title>
</head>
<body>
<form action="#" th:action="@{/category-update}" th:objects="${category}" method="post">
   <label for="id">ID</label>
    <input readonly type="number" th:field="${category.id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="${category.name}" id="name" placeholder="Name">
    <br/>
    <input type="submit" value="Update Category">
</form>
</body>
</html>