<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create value</title>
</head>
<body>
<form action="#" th:action="@{/value-create}" th:object="${value}" method="post">

    <label for="name">Name </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">


    <label for="value.product.id">Product_id </label>
    <input type="number" th:field="*{product}" id="value.product.id" placeholder="Product">

    <label for="value.option.id">Option_id </label>
    <input type="number" th:field="*{option}" id="value.option.id" placeholder="Option">

    <input type="submit" value="Create Value">
</form>
</body>
</html>